.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    gap: 0rem !important;
    padding: 1rem;
    flex-wrap: wrap;
    color: white; /* corrected syntax */
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
}

.headliner {
    font-size: 1.7rem; /* increased from 1.2rem */
    color: #838e95
    /* additional styling */
}

.name {
    font-size: 4rem; /* increased from 2rem */
    font-weight: bold;
    /* additional styling */
}

.work-title {
    font-size: 2.5rem; /* increased from 1.5rem */
    /* additional styling */
}

.interests {
    font-size: 1.5rem; /* increased from 1rem */
    /* additional styling */
}
    
/* Responsive adjustments */
@media (max-width: 768px) {
    .main-section {
        flex-direction: column-reverse;
        gap: 4rem;
        padding: 1rem;
    }

    .main-content {
        align-items: flex-start;  /* Changed from center to flex-start */
        width: 100%;  /* Added to ensure full width */
        padding: 0 1rem;  /* Added some padding on the sides */
    }

    .headliner {
        font-size: 1.3rem;
    }

    .name {
        font-size: 2.5rem;
    }

    .work-title {
        font-size: 1.8rem;
    }

    .interests {
        font-size: 1.2rem;
    }
}

.Words {
    padding-left: 3rem;
}