.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 2rem;
    flex-wrap: wrap;
    color: white; /* corrected syntax */
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
}

.headliner {
    font-size: 1.7rem; /* increased from 1.2rem */
    color: #aabca6
    /* additional styling */
}

.name {
    font-size: 4rem; /* increased from 2rem */
    font-weight: bold;
    /* additional styling */
}

.work-title {
    font-size: 2.5rem; /* increased from 1.5rem */
    /* additional styling */
}

.interests {
    font-size: 1.5rem; /* increased from 1rem */
    /* additional styling */
}

.photo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    max-width: 100%;
    width: 300px; /* adjust as needed */
    height: auto;
    border-radius: 200px;  /* Added border radius for rounded corners */
    box-shadow: 0 0 15px #aabca6;  /* Added glow effect */
}
    
/* Responsive adjustments */
@media (max-width: 768px) {
    .main-section {
        flex-direction: column-reverse;
        gap: 4rem;
        padding: 1rem;
        text-align: center;
    }

    .main-content {
        align-items: center;
    }

    .headliner {
        font-size: 1.3rem;
    }

    .name {
        font-size: 2.5rem;
    }

    .work-title {
        font-size: 1.8rem;
    }

    .interests {
        font-size: 1.2rem;
    }

    .photo {
        width: 200px;
    }
}

.Words {
    padding-left: 3rem;
}