.chat-container {
    color: white;
    padding: 0px 30px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.chat-input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.7rem;
    line-height: 1.6;
    padding: 8px 0;
    width: 100%;
    min-width: 40%;
}

.chat-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    backdrop-filter: blur(2px);
}

/* For large screens */
@media (min-width: 1024px) {
    .chat-container {
        padding: 0px 60px;
    }
    .chat-input-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 30%;
    }
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 61vh;
    gap: 20px;
    overflow: scroll;
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex-direction: space-between;
    gap: 20px;
}

.chat-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
}

.chat-message-text{
    font-size: 1.7rem;
    line-height: 1.6;
}

.chat-message-info {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.chat-send-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.chat-send-button img {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.9));
    animation: glow-pulse 2s ease-in-out infinite alternate;
}

@keyframes glow-pulse {
    0% {
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.9));
    }
    100% {
        filter: drop-shadow(0 0 30px rgba(255, 255, 255, 1));
    }
}